img{
    /* width: 50px; */
    z-index:-1;
}

 

.mySwiper2{
    width: 100%;
}

.swiper-img{
    width: 100%;
    height: 450px;
    z-index:-1;
}

.swiper-pic{
    width: 90%;
    height: 150px;
    z-index:-1;
    margin-top: 15px;
}

.container-fluid{
    width: 100%;
    margin: 0 auto;
}

.swipers{
    z-index: -11;
}