.homecontent .container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width:1160px) {
    
    .container{
        width: 1000px;
    }

    /* .foods-img{
        width: 200px;
    } */

}